<div class="my-container">
  <div class="car-card">
    <%= image_tag @car.image_url %>
    <div class="info-form">

      <div class="show-info">
        <h3><%= @car.brand %></h3>
        <h4><%= @car.model %></h4>
        <p><%= @car.year %> | <%= @car.fuel %></p>
      </div>

      <div class="show-info">
        <%= simple_form_for [@car, @review] do |f| %>
          <%= f.input :comment %>
          <%= f.input :rating, collection: 1..5, prompt: "Select a rating" %>
          <%= f.submit %>
        <% end %>
      </div>

      <hr class="divider">

      <div class="reviews">
        <h5>Reviews:</h5>
        <ul>
          <% @car.reviews.each do |review| %>
            <li><%= review.comment %> <%= "â­" * review.rating %></li>
          <% end %>
        </ul>
      </div>

      <hr class="divider">

    </div>

    <%= simple_form_for [@car, @favourite ] do |f| %>
      <%= f.submit 'Add to Garage', class: "btn-add" %>
    <% end %>
  </div>
</div>
