<h1><%= @car.brand %>/<%= @car.model %></h1>
<%= link_to "Home", cars_path %>
<%= link_to "Write a comment",  new_car_review_path(@car.id) %>

<ul>
  <% @car.reviews.each do |review| %>
    <li><%= review.comment %> | <%= review.rating %>⭐</li>
  <% end %>
</ul>

<%= simple_form_for [@car, @favourite ] do |f| %>
  <%= f.submit 'Add to Garage' %>
<% end %>
